{% extends "base.html" %}
{% block title %} Austin Printer Status {% endblock %}
{% block content %}
<h1>{{ self.title() }}</h1>
<table>
  <thead>
    <tr>
      <th>Machine</th>
      <th>Status</th>
      <th>Material</th>
      <th>End Date & Time</th>
      <th>Time Remaining (hr)</th>
      <th>Current Build</th>
      <th>Current Job(s)</th>
      <th>Notes</th>
      <th>Recoater Type</th>
      <th>Job(s) in Queue</th>
      <th>PM Due</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for item in machine_return %}
        <tr>
            <td>M{{ loop.index }} - Si{{ item[0] }} </td>
          <td style="background-color: {{ 'green' if item[1] == Running else 'gray' if item[1] == Idle else 'red'}}"></td>
            <td style="color: {{ 'white' if item[2] in ['AlSi', 'IN625', 'IN939', 'Hastx'] else 'black' }}; background-color: {{ 'dark gray 1' if item[2] in ['AlSi'] else 'blue' if item[2] in ['IN625'] else 'black' if item[2] in ['IN939'] or item[2] in ['Hastx'] else 'light red berry 1' if item[2] in ['SS316'] else 'dark green 1' if item[2] in ['CoCr'] else 'orange' if item[2] in ['c18150'] else 'yellow' if item[2] in ['SS17-4'] else 'purple' if item[2] in ['K500'] else 'dark purple 2' if item[2] in ['Ti64'] else 'dark orange 15' if item[2] in ['IN718'] else 'white' }};">{{ item[2] }}</td>
          <td>{{ item[3] }}</td>
          <td>{{ item[4] }}</td>
          <td>{{ item[5] }}</td>
          <td>{{ item[6] }}</td>
          <td>{{ item[7] }}</td>
          <td>
            <select name="recoater_type">
              <option value="option1">Option 1</option>
              <option value="option2">Option 2</option>
              <option value="option3">Option 3</option>
            </select>
          </td>
          <td>{{ item[8] }}</td>
          <td>{{ item[9] }}</td>
        </tr>
      {% endfor %}
    <!-- Add more rows here -->
  </tbody>
</table>
{% endblock %}
