label {
    display: block;
    margin-bottom: 10px;
    font-size: large;
    text-align: center;
}

input {
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
}

#Batch {
    margin-top: 0;
}

.Add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    margin: 10px auto;
    text-align: center;
    height: 40px;
}

table {
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.container {
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: black;
}

.form-label2 {
    text-align: left;
    display: flex;
    align-items: center;
    width: auto
}
.form-label2  {
    margin-right: 10px;
    display: inline;
    white-space: nowrap;
    width: auto;
}
/* input[type="text"],
select {
    font-size: 12px;
    width: 100%;
} */

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

h3 {
    margin-top: 30px;
    text-align: center;
}

#signupbutton, #Loginbutton {
    display: block;
    margin: 10px 0;
    text-align: center;
}

#weightTotal {
    font-size: larger;
    text-align: center;
}

#createBlend, .createBatch, .traceBlend, .menus {
    display: block;
    visibility: visible;
}

.blendField {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.radioLabel {
    margin-right: 10px;
}

.inputContainer {
    display: flex;
    align-items: center;
}

.weightLabel {
    margin-right: 10px;
}

/* New CSS for Current Build Info and Action Buttons */

.build-section {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.table-wrapper {
    max-height: 300px;
    overflow-y: auto;
}
.col-md-4 {
    padding-right: 10px;
}

.col-md-8 {
    padding-left: 10px;
}

.collapsing-sidebar {
    transition: margin-left 0.3s ease-in-out;
}

.collapsed-sidebar {
    margin-left: 0px; /* Adjust the value based on your sidebar width */
}

.build-section {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    
}

.build-info{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
  
}
#searchTableCollapse{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
}




#build-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  #build-info {
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 20px;
  }
  
  #button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 1;
  }
  
  #btn-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
  }
  
  .btn {
    margin: 5px;
  }
  
  @media (min-width: 768px) {
    #button-container {
      flex-direction: row;
      justify-content: center;
    }
  }
  