{% extends "base_powder.html" %} 
{% block title %} Create Batch {% endblock %} 
{% block content %}
<h1 class="text-center">Blend System - Create Batch</h1>
<div class="container">
  <div class="d-flex justify-content-center mt-3">
    <div class="btn-group">
      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="search"
        autocomplete="off"
        onclick="window.location.href = '/search-blend'"
      />
      <label class="btn btn-outline-primary" for="search">Search</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="create-blend"
        autocomplete="off"
        onclick="window.location.href = '/create-blend'"
      />
      <label class="btn btn-outline-primary" for="create-blend">Create Blend</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="create-batch"
        autocomplete="off"
        checked
        onclick="window.location.href = '/create-batch'"
      />
      <label class="btn btn-outline-primary" for="create-batch"
        >Create Batch</label
      >

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="history"
        autocomplete="off"
        onclick="window.location.href = '/history-blend'"
      />
      <label class="btn btn-outline-primary" for="history">History</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="inventory"
        autocomplete="off"
        onclick="window.location.href = '/inventory-blend'"
      />
      <label class="btn btn-outline-primary" for="inventory">Inventory</label>
    </div>
  </div>

  <div class="container-fluid">
    <form id="createBlendForm" method="POST" class="mt-4">
      <div id="blendFields" class="mb-3">
        <!-- Form fields for PO Number, Virgin Lot, Weight -->
        <label for="po_num" class="form-label">PO Number</label>
        <input type="number" class="form-control" name="po_num" id="po_num" placeholder="0">

        <label for="v_lot" class="form-label">Virgin Lot</label>
        <input type="text" class="form-control" name="v_lot" id="v_lot" placeholder="0">

        <label for="weight" class="form-label">Weight (kg)</label>
        <input type="number" step="0.01" class="form-control" name="weight" id="weight" placeholder="0">
      </div>

      <div class="d-grid">
        <div class="form-group">
          <select
            name="alloy"
            class="form-select"
            id="alloy"
            style="text-align: center"
            onchange="UpdateProductDropdown()"
          >
            <option value="" disabled selected>Select Material</option>
            {% for alloy in alloy_names %}
            <option value="{{ alloy }}">{{ alloy }}</option>
            {% endfor %}
          </select>
          <br>
          <select
            name="product"
            class="form-select"
            id="product"
            style="text-align: center"
          >
            <option value="" disabled selected>Select Product</option>
          </select>
        </div>

        <div class="d-grid">
          <!-- Submit button -->
          <button type="submit" id="createButton" class="btn btn-primary" name="create">Create Batch</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  function UpdateProductDropdown() {
    var alloy_dropdown = document.getElementById("alloy");
    var product_dropdown = document.getElementById("product");
    var selected_alloy = alloy_dropdown.value;

    // Clear existing options
    product_dropdown.innerHTML = '<option value="" disabled selected>Select Product</option>';

    // Filter products based on selected material
    var products = {{ material_products | tojson }};
    var filtered_products = products[selected_alloy];

    // Add filtered products to the dropdown
    if (filtered_products) {
      for (var i = 0; i < filtered_products.length; i++) {
        var option = document.createElement("option");
        option.value = filtered_products[i];
        option.text = filtered_products[i];
        product_dropdown.appendChild(option);
      }
    }
  }
</script>
{% endblock %}