{% extends "powder/base_powder.html" %}
{% block title %}Blend History{% endblock %}
{% block subcontent %}
<h2>{{ self.title() }}</h2>
<form action="{{ url_for('powder.HistoryBlend') }}" method="POST" class="mt-4">
  <div class="container">
    <form action="{{ url_for('powder.HistoryBlend') }}" method="POST" class="mt-4">
      <div class="d-grid">

        <label class="btn btn-outline-primary" for="switch">Switch to Virgin Batch History</label>
        <input type="radio" class="btn-check" name="btnradio" id="switch" autocomplete="off"
               onclick="window.location.href = '/powder/history/batch'">
      </div>
      <div class="form-group">
        <select name="alloy" class="form-select" id="alloy" style="text-align: center" onchange="this.form.submit()">
          <option value="" {% if selected_alloy=='' %}selected{% endif %}>All Materials</option>
          {% for alloy in alloy_names %}
          <option value="{{ alloy }}" {% if selected_alloy==alloy %}selected{% endif %}>{{ alloy }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="d-grid">
      </div>
    </form>

    <div class="table-responsive mt-4">
      <table class="table table-hover">
        <!-- Table headers -->
        <thead>
          <tr>
            <th>Blend ID</th>
            <th>Material</th>
            <th>Total Weight (kg)</th>
            <th>Date Created</th>
            <th>Created By</th>
          </tr>
        </thead>
        <tbody>
          {% for blend, alloy_name, first_name, last_name in blend_table.items %}
          <tr class="table-active">
            <td>{{ blend.BlendID }}</td>
            <td>{{ alloy_name }}</td>
            <td>{{ "%.1f" % blend.TotalWeight }}</td>
            {% set date, time = blend.BlendDate.split(' ') %}
            <td>{{ date}}</td>
            <td>{{ first_name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Pagination -->
    <nav class="mt-4">
      {% if blend_table.has_prev %}
      <a class="btn btn-primary"
         href="{{ url_for('powder.HistoryBlend', page=blend_table.prev_num, search=search) }}">Previous</a>
      {% endif %} {% if blend_table.has_next %}
      <a class="btn btn-primary"
         href="{{ url_for('powder.HistoryBlend', page=blend_table.next_num, search=search) }}">Next</a>
      {% endif %}
    </nav>
  </div>
  {% endblock subcontent %}