{% extends "base_powder.html" %}
{% block title %}Blend Inventory{% endblock %}
{% block content %}
<div class="container">  
  <h1 class="text-center">{{ super() }}</h1>
  <h2 class="text-center">{{ self.title() }}</h2>
</div>
  <div class="container">
    <form
      action="{{ url_for('blends.InventoryBlend') }}"
      method="POST"
      class="mt-4"
    >
    <div class="container">
      <form action="{{ url_for('blends.InventoryBlend') }}" method="POST" class="mt-4">
        <div class="d-grid">
      <label class="btn btn-outline-primary" for="switch" >Switch to Virgin Batch Inventory</label>
      <input type="radio"
      class="btn-check"
      name="btnradio"
      id="switch"
      autocomplete="off"
      onclick="window.location.href = '/powder/inventory/batch'"
      ></input>
        </div>

  <form action="{{ url_for('blends.InventoryBlend') }}" method="POST" class="mt-4">
    <div class="form-group">
      <select
        name="alloy"
        class="form-select"
        id="alloy_name"
        style="text-align: center"
        onchange="this.form.submit()"
      >
        <option value="" {% if selected_alloy == '' %}selected{% endif %}>All Materials</option>
        {% for alloy in alloy_names %}
          <option value="{{ alloy }}" {% if selected_alloy == alloy %}selected{% endif %}>{{ alloy }}</option>
        {% endfor %}
      </select>
    </div>
  </form>

  <div class="table-responsive mt-4">
    <table class="table table-hover">
      <!-- Table headers -->
      <thead>
        <tr>
          <th>Blend ID</th>
          <th>Material</th>
          <th>Current Weight (kg)</th>
        </tr>
      </thead>
      <tbody>
      {% for blend_id, alloy_name, current_wt in filtered_data %}
        {% if blend_id == 'Subtotal' %}
          <tr class="table-active table-secondary">
            <td><span>{{ blend_id }}</td>
            <td><span>{{ alloy_name }}</td>
            <td><span>{{ "%.0f" % current_wt }}</span></td>
          </tr>
        {% else %}
          <tr class="table-active">
            <td>{{ blend_id }}</td>
            <td>{{ alloy_name }}</td>
            <td>{{ "%.0f" % current_wt }}</td>
          </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>

  <p class="text-end mt-3">Total Blended Powder Weight: {{ "%.0f" % total_wt }} kg</p>

</div>
{% endblock %}
