<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet"
        href="{{ url_for('static',filename="css/bootstrap.min.css")}}">

        <link rel="stylesheet"
        href="{{ url_for('static',filename="css/build.css")}}">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <title>{% block title %}Home{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" controls="navbarSupportedContent">
            <div class="container-fluid">
                <button 
                class="navbar-toggler" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                        <a class="nav-item nav-link" id="home" href="/">Home</a>
                        <a class="nav-item nav-link" id="blend" href="/blend">Blend</a>
                        <a class="nav-item nav-link" id="builds" href="/builds">Builds</a>
                        <a class="nav-item nav-link" id="logOut" href="/logout">Logout</a>
                        <span class="nav-item nav-link" id="user">{{user.first_name}}</span>
                        {% else %}
                        <a class="nav-item nav-link" id="login" href="/login">Login</a>
                        <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
                        {% endif %}
            </div>
                </div>
            </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-bs-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {%  else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-bs-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith  %}
    <div class="contaniner">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>