{% extends "base.html" %}
{% block title %} Blend {% endblock %}
{% block content %}
<h1 class="text-center">Blend System</h1>
<div class="container">
    <div class="d-flex justify-content-center mt-3">
        <div class="btn-group">
            <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="Search"
            autocomplete="off"
            onclick="window.location.href = '/search-blend'"
            />
            <label class="btn btn-outline-primary" for="Search">Search</label>
    
            <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="New"
            autocomplete="off"
            onclick="window.location.href = '/create-blend'"
            />
            <label class="btn btn-outline-primary" for="New">Create Blend</label>
    
            <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="createBatch"
            autocomplete="off"
            onclick="window.location.href = '/create-batch'"
            />
            <label class="btn btn-outline-primary" for="createBatch">Create Batch</label>
    
            <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="History"
            autocomplete="off"
            onclick="window.location.href = '/history-blend'"
            />
            <label class="btn btn-outline-primary" for="History">History</label>
    
            <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="Inventory"
            autocomplete="off"
            onclick="window.location.href = '/inventory'"
            />
            <label class="btn btn-outline-primary" for="Inventory">Inventory</label>
        </div>
    </div>
</div>
{% endblock %}
