{% extends "blend.html" %}
{% block title %}Inventory{% endblock %}
{% block content %}
<h1 class="text-center">Blend System - Blend Inventory</h1>
<div class="container">
  <div class="d-flex justify-content-center mt-3">
    <div class="btn-group">
      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="Search"
        autocomplete="off"
        onclick="window.location.href = '/searchBlends'"
      />
      <label class="btn btn-outline-primary" for="Search">Search</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="New"
        autocomplete="off"
        onclick="window.location.href = '/createBlend'"
      />
      <label class="btn btn-outline-primary" for="New">Create Blend</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="createBatch"
        autocomplete="off"
        onclick="window.location.href = '/createBatch'"
      />
      <label class="btn btn-outline-primary" for="createBatch">Create Batch</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="History"
        autocomplete="off"
        onclick="window.location.href = '/BlendHistory'"
      />
      <label class="btn btn-outline-primary" for="History">History</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="Inventory"
        autocomplete="off"
        checked
        onclick="window.location.href = '/BlendInventory'"
      />
      <label class="btn btn-outline-primary" for="Inventory">Inventory</label>
    </div>
  </div>
  <div class="container">
    <form
      action="{{ url_for('blends.Blend_Inventory') }}"
      method="POST"
      class="mt-4"
    >
    <div class="container">
      <form action="{{ url_for('blends.Blend_Inventory') }}" method="POST" class="mt-4">
        <div class="d-grid">
      <label class="btn btn-outline-primary" for="swtich" >Switch to Virgin Batch Inventory</label>
      <input type="radio"
      class="btn-check"
      name="btnradio"
      id="swtich"
      autocomplete="off"
      onclick="window.location.href = '/BatchInventory'"
      ></input>
        </div>

  <form action="{{ url_for('blends.Blend_Inventory') }}" method="POST" class="mt-4">
    <div class="form-group">
      <select
        name="material"
        class="form-select"
        id="material_name"
        style="text-align: center"
        onchange="this.form.submit()"
      >
        <option value="" {% if selected_material == '' %}selected{% endif %}>All Materials</option>
        {% for material in material_names %}
          <option value="{{ material }}" {% if selected_material == material %}selected{% endif %}>{{ material }}</option>
        {% endfor %}
      </select>
    </div>
  </form>

  <div class="table-responsive mt-4">
    <table class="table table-hover">
      <!-- Table headers -->
      <thead>
        <tr>
          <th>Blend ID</th>
          <th>Material</th>
          <th>Current Weight (kg)</th>
        </tr>
      </thead>
      <tbody>
      {% for blend_id, material_name, current_weight in inventory_data %}
        {% if blend_id == 'Subtotal' %}
          <tr class="table-active">
            <td><span style="color: red;">{{ blend_id }}</td>
            <td><span style="color: red;">{{ material_name }}</td>
            <td><span style="color: red;">{{ "%.2f" % current_weight }}</span></td>
          </tr>
        {% else %}
          <tr class="table-active">
            <td>{{ blend_id }}</td>
            <td>{{ material_name }}</td>
            <td>{{ "%.2f" % current_weight }}</td>
          </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>

  <p class="text-end mt-3">Total Weight: {{ total_weight }}</p>

</div>
{% endblock %}
