{% extends "base_builds.html" %} {% block title %}Builds{% endblock %} {% block content %}
<div id="build-container" >
  <div id="build-info"class="build-section">
    <!-- Current Build Info -->
    <h4>Current Build Info</h4>
    <p>Build Number: N/A</p>
    <p>Created By: N/A</p>
    <p>Date Created: N/A</p>
  </div>
  <div id="button-container">
    <div id="btn-group" role="group">
      <button class="btn btn-primary" type="button">New build</button>
      <button class="btn btn-primary" type="button">Edit</button>
      <button class="btn btn-primary" type="button">Copy</button>
      <button class="btn btn-primary" type="button">Data Viewer</button>
      <button class="btn btn-primary" type="button">Traveler</button>
      <button class="btn btn-primary" type="button">Generate Serials</button>
      <button class="btn btn-primary" type="button">Attachments</button>
    </div>
  </div>
</div>

<div class="containers">
  <div class="row">
    <div class="col-md-4">
      <button
        class="btn btn-primary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#searchTableCollapse"
        aria-expanded="true"
        aria-controls="searchTableCollapse"
      >
        Search build ID
      </button>
      <div class="col-md-4">
        <div class="mb-3 form-label2 collapse" id="searchTableCollapse">
          <label for="buildIdInput" class="form-label">Search Build ID:</label>
          <input
            type="text"
            class="form-control"
            style="width: 300px; margin: 0 auto"
            id="buildIdInput"
          />
        </div>
        <div class="table-wrapper collapse" id="searchTableCollapse">
          <table class="table table-bordered">
            <thead>
              <tr class="table-active">
                <th>Build ID</th>
                <th>Build Name</th>
              </tr>
            </thead>
            <tbody>
              <!-- Display all build IDs and build names from the database -->
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-8">
        <!-- Rest of your content -->
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <form>
            <div class="build-section">
              <h5 class="text-center mb-4">Build Setup</h5>
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3 form-label2">
                    <label for="solidJobsBuildIDInput" class="form-label"
                      >Solid Jobs Build ID:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="solidJobsBuildIDInput"
                    />
                  </div>
                  <div class="mb-3 form-label2 text-center">
                    <label for="buildNameInput" class="form-label2"
                      >Build Name:</label
                    >
                    <input
                      type="text"
                      class="form-control text-center"
                      id="buildNameInput"
                    />
                  </div>
                  <div class="mb-3 form-label2 text-center">
                    <label for="machineInput" class="form-label2"
                      >Machine:</label
                    >
                    <select class="form-select text-center" id="machineInput">
                      <option value="">Select Machine</option>
                      <!-- Add machine options dynamically -->
                      {% for machine in machines %}
                      <option value="{{ machine }}">{{ machine }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="mb-3 form-label2 text-center">
                    <label for="materialInput" class="form-label2"
                      >Material:</label
                    >
                    <select class="form-select text-center" id="materialInput">
                      <option value="">Select Material</option>
                      <!-- Add material options dynamically -->
                      {% for material in materials %}
                      <option value="{{ material }}">{{ material }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="mb-3 form-label2">
                    <label for="scaleXInput" class="form-label2"
                      >Scale X:</label
                    >
                    <input type="text" class="form-control" id="scaleXInput" />
                  </div>
                  <div class="mb-3 form-label2">
                    <label for="scaleYInput" class="form-label2"
                      >Scale Y:</label
                    >
                    <input type="text" class="form-control" id="scaleYInput" />
                  </div>
                  <div class="mb-3 form-label2">
                    <label for="offsetInput" class="form-label2">Offset:</label>
                    <input type="text" class="form-control" id="offsetInput" />
                  </div>
                  <div class="mb-3 form-label2">
                    <label for="layerInput" class="form-label2">Layer:</label>
                    <input type="text" class="form-control" id="layerInput" />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3 form-label2">
                    <label for="platformTemperatureInput" class="form-label2"
                      >Platform Temperature:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="platformTemperatureInput"
                    />
                  </div>
                  <div class="mb-3 form-label2">
                    <label for="potentialBuildHeightInput" class="form-label2"
                      >Potential Build Height:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="potentialBuildHeightInput"
                    />
                  </div>
                  <div class="mb-3 form-label2">
                    <label for="MinChargeAmountInput" class="form-label2"
                      >Min Charge Amount:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="MinChargeAmountInput"
                    />
                  </div>
                  <div class="mb-3 form-label2">
                    <label for="MaxChangeAmountInput" class="form-label2"
                      >Max Change Amount:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="MaxChangeAmountInput"
                    />
                  </div>
                  <div class="mb-3 form-label2">
                    <label for="DosingBoostAmountInput" class="form-label2"
                      >Dosing Boost Amount:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="DosingBoostAmountInput"
                    />
                  </div>
                  <div class="mb-3 form-label2">
                    <label for="RecoaterSpeedInput" class="form-label2"
                      >Recoater Speed:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="RecoaterSpeedInput"
                    />
                  </div>
                  <div class="mb-3 form-label2">
                    <label for="ParameterRevInput" class="form-label2"
                      >Parameter Rev:</label
                    >
                    <input
                      type="file"
                      class="form-control"
                      id="ParameterRevInput"
                    />
                  </div>
                  <div class="mb-3 form-label2">
                    <label class="form-label2">Recoater Type:</label>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="recoaterType"
                        id="bladeRadio"
                        value="blade"
                      />
                      <label class="form-check-label" for="bladeRadio">
                        Blade
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="recoaterType"
                        id="siliconeRadio"
                        value="silicone"
                      />
                      <label class="form-check-label2" for="siliconeRadio">
                        Silicone (Clear)
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="recoaterType"
                        id="nbrRadio"
                        value="nbr"
                      />
                      <label class="form-check-label2" for="nbrRadio">
                        NBR (Black)
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <script>
        // Add event listener to toggle the collapsed class on the sidebar when the collapse button is clicked
        document
          .getElementById("searchTableCollapse")
          .addEventListener("show.bs.collapse", function () {
            document
              .querySelector(".collapsing-sidebar")
              .classList.remove("collapsed-sidebar");
          });

        document
          .getElementById("searchTableCollapse")
          .addEventListener("hide.bs.collapse", function () {
            document
              .querySelector(".collapsing-sidebar")
              .classList.add("collapsed-sidebar");
          });
      </script>
      {% endblock %}
    </div>
  </div>
</div>
