{% extends "base_builds.html" %}
{% block title %} Build Tracking {% endblock title %}
{% block content %}
<div class="container">
  <div id="build-container">
    <div id="build-info" class="build-section">
      <!-- Current Build Info -->
      <h4>Current Build Info</h4>
      <p>Build Number: <span id="BuildIt">N/A</span></p>
      <p>Created By: <span id="createdByInput">N/A</span></p>
      <p>Created: <span id="createdOnInput"> N/A</span></p>
    </div>
    <div>
      <div class="row">
        <div id="button-container" class="controlButtons">
          <div id="btn-group" role="group" class="d-flex">
            <!-- New Build Form -->
            <form method="POST" action="{{ url_for('builds.new_build') }}">
              <button class="btn btn-primary" type="submit">
                New build
              </button>
            </form>

            <!-- Copy Build Form -->
            <form method="POST" action="{{ url_for('builds.copy_build') }}">
              <input type="hidden" name="BuildsID" value="{{ current_build.BuildIt }}" />
              <button class="btn btn-primary" type="submit" style="display: none">
                Copy
              </button>
            </form>

            <!-- Data Viewer Form -->
            <form method="POST" action="{{ url_for('builds.data_viewer') }}" target="_blank">
              <button type="submit" name="data_viewer" class="btn btn-primary">
                Data Viewer
              </button>
            </form>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="build-state-buttons">
          <div>
            <input class="btn-check" type="checkbox" name="buildState" id="buildSetupCheckbox" data-toggle="collapse"
              data-target="#buildSetupForm" />
            <label class="btn btn-outline-primary" for="buildSetupCheckbox" style="display: none">Build Setup</label>
          </div>
          <div class="build-state-buttons">
            <div>
              <input class="btn-check" type="checkbox" name="buildState" id="buildStartCheckbox" data-toggle="collapse"
                data-target="#buildStartForm" />
              <label class="btn btn-outline-primary" for="buildStartCheckbox" style="display: none">Build
                Start</label>
            </div>
          </div>
          <div class="build-state-buttons">
            <div>
              <input class="btn-check" type="checkbox" name="buildState" id="buildFinishCheckbox" data-toggle="collapse"
                data-target="#buildformFinshed" />
              <label class="btn btn-outline-primary" for="buildFinishCheckbox" style="display: none">Build
                Finish</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Builds search table -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="searchBuilds">
        <!-- HTML -->
        <form id="facilityForm">
          <div class="dropdown-content">
            <select style="padding: 5px; margin-bottom: 5px; width: 250px" class="form-select text-center"
              id="facilitySelect" name="facilitySelect">
              <option value="" disabled selected>Select Facility</option>
              <option value="Austin">Austin</option>
              <option value="Belton">Belton</option>
            </select>
          </div>
          <!-- Remove the input type="submit" as it is not needed -->
        </form>

        <input style="width: 250px; padding: 5px" type="text" id="searchInput" oninput="filterBuilds()"
          placeholder="Search builds..." />
        <div class="buildsTable">
          <table style="font-size: 12px" class="table table-hover">
            <thead>
              <tr class="table-active">
                <th style="border: 1px solid #ffffff">Build_ID</th>
                <th style="border: 1px solid #ffffff">Build Name</th>
              </tr>
            </thead>
            {% if selectedFacility %}
            <tbody>
              {% for build in buildsInfo %}
              <tr class="table-active" data-buildid="{{ build.BuildIt }}" data-layer="{{ build.Layer }}"
                onclick="showBuildInfo(event)">
                <td style="border: 1px solid #ffffff">
                  {{ build.BuildIt }}
                </td>
                <td style="border: 1px solid #ffffff">
                  {{ build.BuildName }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
            {% endif %}
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div id="buildSetupForm" class="collapse">
      <form id="buildformSetup" method="POST">
        <div class="build-setup-form">
          <h5 class="text-center mb-4">Build Setup</h5>
          <div class="row" class="container">
            <div class="col-md-6">
              <div class="mb-3 form-label2 text-center">
                <label for="BuildID" class="form-label2">Build ID:</label>
                <input type="text" class="form-control text-center" id="BuildID" name="BuildID" disabled />
              </div>
              <div class="mb-3 form-label2 text-center">
                <label for="buildNameInput" class="form-label2">Build Name:</label>
                <input type="text" class="form-control text-center" id="buildNameInput" name="buildNameInput" />
              </div>
              <div class="mb-3 form-label2 text-center">
                <label for="machineInput" class="form-label2">Machine:</label>
                <select class="form-select text-center" id="machineInput" name="machineInput">
                  <option value="" disabled selected>Select Machine</option>
                  <!-- Add machine options dynamically -->
                  {% for machine in machines %}
                  <option value="{{ machine }}">{{ machine }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-3 form-label2 text-center">
                <label for="materialInput" class="form-label2">Material:</label>
                <select class="form-select text-center" id="materialInput" name="materialInput">
                  <option value="" disabled selected>
                    Select Material
                  </option>
                  <!-- Add material options dynamically -->
                  {% for material in materials %}
                  <option value="{{ material }}">{{ material }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-3 form-label2 text-center EOS">
                <label for="ScaleXInput" class="form-label2">Scale X:</label>
                <input type="number" class="form-control text-center" step=".01" id="ScaleXInput" name="ScaleXInput" />
              </div>
              <div class="mb-3 form-label2 text-center EOS">
                <label for="ScaleYInput" class="form-label2">Scale Y:</label>
                <input type="number" class="form-control text-center" step=".01" id="ScaleYInput" name="ScaleYInput" />
              </div>
              <div class="mb-3 form-label2 text-center EOS">
                <label for="OffsetInput" class="form-label2">Offset:</label>
                <input type="number" class="form-control text-center" step=".01" id="OffsetInput" name="OffsetInput" />
              </div>
              <div class="mb-3 form-label2 text-center EOS">
                <label for="LayerInput" class="form-label2">Layer:</label>
                <input type="number" class="form-control text-center" step=".01" id="LayerInput" name="LayerInput" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3 form-label2 text-center EOS">
                <label for="PlatformTemperatureInput" class="form-label2">Platform Temperature:</label>
                <input type="number" class="form-control text-center" step=".01" id="PlatformTemperatureInput"
                  name="PlatformTemperatureInput" />
              </div>
              <div class="mb-3 form-label2 text-center">
                <label for="PotentialBuildHeightInput" class="form-label2">Potential Build Height:</label>
                <input type="number" class="form-control text-center" step=".01" id="PotentialBuildHeightInput"
                  name="PotentialBuildHeightInput" />
              </div>
              <div class="mb-3 form-label2 text-center EOS">
                <label for="MinChargeAmountInput" class="form-label2">Min Charge Amount:</label>
                <input type="number" class="form-control text-center" id="MinChargeAmountInput"
                  name="MinChargeAmountInput" />
              </div>
              <div class="mb-3 form-label2 text-center EOS">
                <label for="MaxChargeAmountInput" class="form-label2">Max Change Amount:</label>
                <input type="number" class="form-control text-center" id="MaxChargeAmountInput"
                  name="MaxChargeAmountInput" />
              </div>
              <div class="mb-3 form-label2 text-center EOS">
                <label for="DosingBoostAmountInput" class="form-label2">Dosing Boost Amount:</label>
                <input type="number" class="form-control text-center" id="DosingBoostAmountInput"
                  name="DosingBoostAmountInput" />
              </div>
              <div class="mb-3 form-label2 text-center EOS">
                <label for="RecoaterSpeedInput" class="form-label2">Recoater Speed:</label>
                <input type="number" class="form-control text-center" id="RecoaterSpeedInput"
                  name="RecoaterSpeedInput" />
              </div>
              <div class="mb-3 form-label2 text-center EOS">
                <label for="ParameterRevInput" class="form-label2">Parameter Rev:</label>
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="ParameterRevInput" name="ParameterRevInput" />
                  </div>
                </div>
              </div>
              <div class="mb-3 form-label2 text-center EOS">
                <label class="form-label2">Recoater Type:</label>
                <select class="form-select text-center" id="RecoaterTypeInput" name="RecoaterTypeInput">
                  <option value="" disabled selected>
                    Select Recoater type
                  </option>
                  <option value="blade">Blade</option>
                  <option value="brush">Brush</option>
                  <option value="silicone">Silicone (Clear)</option>
                  <option value="nbr">NBR (Black)</option>
                </select>
              </div>
            </div>
          </div>
          <button class="btn-primary" name="buildformSetup" style="height: 30px; width: 100%">
            Submit
          </button>
        </div>
      </form>
    </div>

    <div id="buildStartForm" class="collapse">
      <form id="buildformStart" method="POST">
        <div class="build-start-form">
          <h5 class="text-center mb-4">Build Start</h5>
          <div class="row" class="container">
            <div class="col-md-6">
              <div class="mb-3 form-label2 text-center">
                <label for="BlendIDInput" class="form-label2">Blend ID:</label>
                <input type="number" class="form-control text-center" id="BlendIDInput" name="BlendIDInput" />
              </div>
              <div class="mb-3 form-label2 text-center">
                <label for="PlateSerialInput" class="form-label2">Plate Serial:</label>
                <input type="text" class="form-control text-center" oninput="formatPlateSerial(this)" maxlength="10"
                  id="PlateSerialInput" name="PlateSerialInput" />
              </div>
              <div class="mb-3 form-label2 text-center">
                <label for="plateThicknessInput" class="form-label2">Plate Thickness:</label>
                <input type="number" class="form-control text-center" step='0.01' id="PlateThicknessInput"
                  name="PlateThicknessInput" />
              </div>
              <div class="mb-3 form-label2 text-center">
                <label for="PlatformWeightInput" class="form-label2">Plate Weight:</label>
                <input type="number" class="form-control text-center" step='0.01' id="PlatformWeightInput"
                  name="PlatformWeightInput" />
              </div>

              <div class="mb-3 form-label2 text-center Velo">
                <label for="InSpec" class="form-label2">Machine in Spec:</label>
                <select class="form-select text-center" id="InSpec" name="InSpec">
                  <option value="" disabled>
                    Machine in Spec
                  </option>
                  <option value="True" {% if inSpec==True %} selected {% endif %}>Yes</option>
                  <option value="False" {% if inSpec==False %} selected {% endif %}>No</option>
                </select>
              </div>

              <div class="mb-3 form-label2 text-center EOS">
                <label for="FeedPowderHeightInput" class="form-label2">Feed Powder Height:</label>
                <input type="number" class="form-control text-center" id="FeedPowderHeightInput"
                  name="FeedPowderHeightInput" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3 form-label2 text-center">
                <label for="InertTimeInput" class="form-label2">Inert Time:</label>
                <input type="datetime-local" class="form-control text-center" id="InertTimeInput"
                  name="InertTimeInput" />
              </div>
              <div class="mb-3 form-label2 text-center Velo">
                <label for="PowderLevelInput" class="form-label2">Powder Level:</label>
                <input type="number" class="form-control text-center" id="PowderLevelInput" name="PowderLevelInput" />
              </div>

              <div class="mb-3 form-label2 text-center Velo">
                <label for="SieveLifeInput" class="form-label2">Sieve Life (layers remaining):</label>
                <input type="number" class="form-control text-center" id="SieveLifeInput" name="SieveLifeInput" />
              </div>

              <div class="mb-3 form-label2 text-center Velo">
                <label for="FilterPressureInput" class="form-label2">filter Pressure Drop (kPa):</label>
                <input type="number" class="form-control text-center" id="FilterPressureInput" step="0.01"
                  name="FilterPressureInput" />
              </div>


              <div class="mb-3 form-label2 text-center EOS">
                <label for="F9FilterSerialInput" class="form-label2">F9 Filter Serial:</label>
                <input type="text" class="form-control text-center" id="F9FilterSerialInput"
                  name="F9FilterSerialInput" />
              </div>
              <div class="mb-3 form-label2 text-center EOS">
                <label for="H13FilterSerialInput" class="form-label2">H13 Filter Serial:</label>
                <input type="text" class="form-control text-center" id="H13FilterSerialInput"
                  name="H13FilterSerialInput" />
              </div>
              <div class="mb-3 form-label2 text-center EOS">
                <label for="StartLaserHoursInput" class="form-label2">Start Laser Hours:</label>
                <input type="number" class="form-control text-center" id="StartLaserHoursInput"
                  name="StartLaserHoursInput" />
              </div>
              <div class="mb-3 form-label2 text-center">
                <label for="BuildStartInput" class="form-label2">Build Start:</label>
                <input type="datetime-local" class="form-control text-center" id="BuildStartInput"
                  name="BuildStartInput" />
              </div>
            </div>
          </div>
          <button class="btn-primary" name="buildformStart" style="height: 30px; width: 100%">
            Submit
          </button>
        </div>
      </form>
    </div>

    <div id="buildformFinshed" class="collapse">
      <form id="buildformFinish" method="POST">
        <div class="build-finish-form">
          <h5 class="text-center mb-4">Build Finish</h5>
          <div class="row" class="container">
            <div class="col-md-6">
              <div class="mb-3 form-label2 text-center">
                <label for="MaterialAddedInput" class="form-label2">Material Added:</label>
                <select class="form-select text-center" id="MaterialAddedInput" name="MaterialAddedInput">
                  <option value="" disabled>
                    Select Material Added
                  </option>
                  <option value="True" {% if MaterialAddedInput==True %} selected {% endif %}>Yes</option>
                  <option value="False" {% if MaterialAddedInput==False %} selected {% endif %}>No</option>
                </select>
              </div>
              <div class="mb-3 form-label2 text-center">
                <label for="buildFinishInput" class="form-label2">Build Finish:</label>
                <input type="datetime-local" class="form-control text-center" id="buildFinishInput"
                  name="buildFinishInput" />
              </div>
              <div class="mb-3 form-label2 text-center">
                <label for="BuildTimeInput" class="form-label2">Build Time:</label>
                <input type="number" class="form-control text-center" id="BuildTimeInput" name="BuildTimeInput" />
              </div>
              <div class="mb-3 form-label2 text-center EOS">
                <label for="FinalLaserHoursInput" class="form-label2">Final Laser Hours:</label>
                <input type="number" class="form-control text-center" id="FinalLaserHoursInput"
                  name="FinalLaserHoursInput" />
              </div>
              <div class="mb-3 form-label2 text-center EOS">
                <label for="FinishHeightInput" class="form-label2">Build Finish Height:</label>
                <input type="number" class="form-control text-center" id="FinishHeightInput" name="FinishHeightInput" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3 form-label2 text-center EOS">
                <label for="EndPartPistonHeightInput" class="form-label2">End Part Piston Height:</label>
                <input type="number" class="form-control text-center" id="EndPartPistonHeightInput"
                  name="EndPartPistonHeightInput" />
              </div>
              <div class="mb-3 form-label2 text-center EOS">
                <label for="EndFeedPowderHeightInput" class="form-label2">End Feed Powder Height:</label>
                <input type="number" class="form-control text-center" id="EndFeedPowderHeightInput"
                  name="EndFeedPowderHeightInput" />
              </div>
              <div class="mb-3 form-label2 text-center">
                <label for="BreakoutInput" class="form-label2">Breakout:</label>
                <input type="datetime-local" class="form-control text-center" id="BreakoutInput" name="BreakoutInput" />
              </div>
              <div class="mb-3 form-label2 text-center">
                <label for="FinishPlatformWeightInput" class="form-label2">Finish Platform Weight:</label>
                <input type="number" class="form-control text-center" id="FinishPlatformWeightInput"
                  name="FinishPlatformWeightInput" />
              </div>
              <div class="mb-3 form-label2 text-center EOS">
                <label for="BuildInterruptsInput" class="form-label2">Build Interrupts:</label>
                <select class="form-select text-center" id="BuildInterruptsInput" name="BuildInterruptsInput">
                  <option value="" disabled>
                    Select Build Interrupts
                  </option>
                  <option value="True" {% if buildInterruptsInput==True %} selected {% endif %}>Yes</option>
                  <option value="False" {% if buildInterruptsInput==False %} selected {% endif %}>No</option>
                </select>
              </div>
            </div>
          </div>
          <button class="btn-primary" style="height: 30px; width: 100%" name="buildformFinish">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}