{% extends "base.html" %} {% block title %} Create Blend {% endblock %} {% block content %}
<h1 class="text-center">Blend System - Create Blend</h1>
<div class="container">
  <div class="container">
    <div class="d-flex justify-content-center mt-3">
      <div class="btn-group">
        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="Search"
          autocomplete="off"
          onclick="window.location.href = '/searchBlends'"
        />
        <label class="btn btn-outline-primary" for="Search">Search</label>

        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="New"
          autocomplete="off"
          checked
          onclick="window.location.href = '/createBlend'"
        />
        <label class="btn btn-outline-primary" for="New">Create Blend</label>

        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="createBatch"
          autocomplete="off"
          onclick="window.location.href = '/createBatch'"
        />
        <label class="btn btn-outline-primary" for="createBatch"
          >Create Batch</label
        >

        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="Trace"
          autocomplete="off"
          onclick="window.location.href = '/TraceBack'"
        />
        <label class="btn btn-outline-primary" for="Trace">Trace Blend</label>

        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="History"
          autocomplete="off"
          onclick="window.location.href = '/BlendHistory'"
        />
        <label class="btn btn-outline-primary" for="History">History</label>

        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="Report"
          autocomplete="off"
          onclick=""
        />
        <label class="btn btn-outline-primary" for="Report">Report</label>

        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="Inventory"
          autocomplete="off"
          onclick=""
        />
        <label class="btn btn-outline-primary" for="Inventory">Inventory</label>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <form
      id="createBlendForm"
      method="POST"
      action="{{ url_for('views.create_blend') }} "
      class="mt-4"
    >
      <div id="createBlend" class="createBlend">
        <div class="form-group">
          <div class="mb-3">
            <input
              type="radio"
              class="btn-check"
              name="option"
              id="Blend"
              value="Blend"
              autocomplete="off"
              checked
            />
            <label class="btn btn-outline-primary" style="width:120px;" for="Blend">Blend</label>

            <input
              type="radio"
              class="btn-check"
              name="option"
              id="Batch"
              value="Batch"
              autocomplete="off"
            />
            <label class="btn btn-outline-primary" style="width:120px;" for="Batch">Virgin Batch</label>
          </div>
        </div>

        <div id="blendFields" class="mb-3">
          <label for="number" class="form-label">ID</label>
          <input
            type="number"
            class="form-control"
            name="BlendNumber"
            id="BlendNumber"
            placeholder="0"
          />

          <label for="weight" class="form-label">Weight (kg)</label>
          <input
            type="number"
            step="0.01"
            class="form-control"
            name="weight"
            id="weight"
            placeholder="0"
          />
        </div>
        <div class="d-grid">
          <button
            type="submit"
            id="addButton"
            name="add"
            class="btn btn-primary"
          >
            Add
          </button>
        </div>
        <div class="form-group mt-4">
          <label for="total" id="weightTotal"
            >Total Weight: {{ totalWeight }} kg</label
          >
        </div>
        <div class="d-grid">
          <button
            type="submit"
            id="createButton"
            class="btn btn-primary"
            name="create"
          >
            Create Blend
          </button>
        </div>
        <div class="table-responsive mt-4">
          <table class="table table-hover">
            <!-- Table headers -->
            <thead>
              <tr style="font-size: 20px">
                <th scope="col">ID</th>
                <th scope="col">Weight (kg)</th>
                <th scope="col">Material</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for i in range(blends|length) %}
              <tr class="table-active">
                <td>Blend {{ blends[i] }}</td>
                <td>{{ blendWeights[i] }}</td>
                <td>{{ materials[i] }}</td>
                <td>
                  <button
                    type="submit"
                    class="btn btn-danger"
                    formaction="{{ url_for('views.remove_blend', blendIndex=i) }}"
                  >
                    Remove
                  </button>
                </td>
              </tr>
              {% endfor %} {% for i in range(batchs|length) %}
              <tr style='font-style: italic;' class="table-active">
                <td>Batch {{ batchs[i] }}</td>
                <td>{{ batchWeights[i] }}</td>
                <td>{{ materials[i] }}</td>
                <td>
                  <button
                    type="submit"
                    class="btn btn-danger"
                    formaction="{{ url_for('views.remove_blend', blendIndex=i + blends|length) }}"
                  >
                    Remove
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </form>
  </div>
</div>
{% endblock %}
