{% extends "base.html" %}
{% block title %} Create Batch {% endblock %}
{% block content %}
    <h1 class="text-center">Blend System - Create Batch</h1>
    <div class="container">
        <div class="d-flex justify-content-center mt-3">
            <div class="btn-group">
                <input type="radio" class="btn-check" name="btnradio" id="Search" autocomplete="off" onclick="window.location.href = '/searchBlends'">
                <label class="btn btn-outline-primary" for="Search">Search</label>

                <input type="radio" class="btn-check" name="btnradio" id="New" autocomplete="off" onclick="window.location.href = '/createBlend'">
                <label class="btn btn-outline-primary" for="New">Create Blend</label>

                <input type="radio" class="btn-check" name="btnradio" id="createBatch" autocomplete="off" checked onclick="window.location.href = '/createBatch'">
                <label class="btn btn-outline-primary" for="createBatch">Create Batch</label>

                <input type="radio" class="btn-check" name="btnradio" id="Trace" autocomplete="off" onclick="">
                <label class="btn btn-outline-primary" for="Trace">Trace Blend</label>

                <input type="radio" class="btn-check" name="btnradio" id="History" autocomplete="off" onclick="window.location.href = '/BlendHistory'">
                <label class="btn btn-outline-primary" for="History">History</label>

                <input type="radio" class="btn-check" name="btnradio" id="Report" autocomplete="off" onclick="">
                <label class="btn btn-outline-primary" for="Report">Report</label>
                
                <input type="radio" class="btn-check" name="btnradio" id="Inventory" autocomplete="off" onclick="">
                <label class="btn btn-outline-primary" for="Inventory">Inventory</label>
            </div>
        </div>

    <div class="container-fluid">
        <form id="createBlendForm" method="POST" class="mt-4">
            <div id="blendFields" class="mb-3">
                <label for="poNumber" class="form-label">PO Number</label>
                <input type="number" class="form-control" name="poNumber" id="poNumber" placeholder="0">

                <label for="vLotNumber" class="form-label">Virgin Lot</label>
                <input type="text" class="form-control" name="vLot" id="vLot" placeholder="0">

                <label for="weight" class="form-label">Weight</label>
                <input type="number" step="0.01" class="form-control" name="weight" id="weight" placeholder="0">
                </div>
                <div class="d-grid">
                    <div class="form-group">
                    <label for="material" class="form-label mt-4" >Material</label>
                    <select name="material" class="form-select" id="material" style="text-align: center;">
                        {% for product in Products %}
                        <option>{{ product }} - ({{ material_name[product] }})</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="d-grid">
                    <button type="submit" id="createButton"class="btn btn-primary" name="create">Create Batch</button>
                </div>
            </div>
        </form>
        
        <!-- Display the blend results here -->
        <div class="table-responsive mt-4">
            <table class ="table table-hover">
                <!-- Table headers -->
                <thead>
                    <tr style="font-size: 20px;">
                        <th scope="col">PO Number</th>
                        <th scope="col">Virgin Lot Number</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Material</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Loop through the blendNumber results -->
                    {% if blendNumber %}
                        {% for blend in blendNumber %}
                            <tr class="table-active">
                                <td>{{ blend.PowderBlendID }}</td>
                                <td>{{ blend.AddedWeight }}</td>
                                <td>{{ blend.OldPowderBlendID }}</td>
                                <td>{{ blend.AddedWeight }}</td>
                                <td>{{ blend.PowderInventoryBatchID }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
