{% extends "blend.html" %} 
{% block title %}History{% endblock %} 
{% block content %}
<h1 class="text-center">Blend System - Virgin Batch History</h1>
<div class="container">
  <div class="d-flex justify-content-center mt-3">
    <div class="btn-group">
      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="Search"
        autocomplete="off"
        onclick="window.location.href = '/search-blend'"
      />
      <label class="btn btn-outline-primary" for="Search">Search</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="New"
        autocomplete="off"
        onclick="window.location.href = '/create-blend'"
      />
      <label class="btn btn-outline-primary" for="New">Create Blend</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="createBatch"
        autocomplete="off"
        onclick="window.location.href = '/create-batch'"
      />
      <label class="btn btn-outline-primary" for="createBatch"
        >Create Batch</label
      >

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="History"
        autocomplete="off"
        checked
        onclick="window.location.href = '/history-blend'"
      />
      <label class="btn btn-outline-primary" for="History">History</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="Inventory"
        autocomplete="off"
        onclick="window.location.href = '/inventory'"
      />
      <label class="btn btn-outline-primary" for="Inventory">Inventory</label>
    </div>
  </div>
  <div class="container">
    <form
      action="{{ url_for('blends.HistoryBatch') }}"
      method="POST"
      class="mt-4"
    >
    <div class="container">
      <form action="{{ url_for('blends.HistoryBatch') }}" method="POST" class="mt-4">
        <div class="d-grid">
          <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="Search"
        autocomplete="off"
        onclick="window.location.href = '/search-blend'"
      />
      <label class="btn btn-outline-primary" for="switch">Switch to Blend History</label>
      <input type="radio"
      class="btn-check"
      name="btnradio"
      id="switch"
      autocomplete="off"
      onclick="window.location.href = '/history-blend'"
      ></input>
        </div>
        <div class="form-group">
          <select
            name="alloy"
            class="form-select"
            id="alloy"
            style="text-align: center"
            onchange="this.form.submit()"
          >
            <option value="" {% if selected_alloy == '' %}selected{% endif %}>All Materials</option>
            {% for alloy in alloy_names %}
            <option value="{{ alloy }}" {% if selected_alloy == alloy %}selected{% endif %}>{{ alloy }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="d-grid">
        </div>
      </form>

    <div class="table-responsive mt-4">
      <table class="table table-hover">
        <!-- Table headers -->
        <thead>
          <tr>
            <th>Batch ID</th>
            <th>Material</th>
            <th>Supplier Product </th>
            <th>Virgin Lot</th>
            <th>Virgin PO</th>
            <th>Total Weight (kg)</th>
            <th>Date Added</th>
            <th>Created By</th>
          </tr>
        </thead>
        <tbody>
          {% for batch, alloy_names, supplier_product in batch_list.items %}
          <tr class="table-active">
            <td>{{ batch.BatchID }}</td>
            <td>{{ alloy_names }}</td>
            <td>{{ supplier_product }}</td>
            <td>{{ batch.VirginLot }}</td>
            <td>{{ batch.VirginPO }}</td>
            <td>{{ batch.VirginWeight|round(2) }}</td>
            {% set date, time = batch.BatchTimeStamp.split(' ') %}
            <td>{{ date}}</td>
            <td>{{ batch.BatchCreatedBy }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Pagination -->
    <nav class="mt-4">
      {% if batch_list.has_prev %}
      <a
        class="btn btn-primary"
        href="{{ url_for('blends.HistoryBatch', page=batch_list.prev_num, search=search) }}"
        >Previous</a
      >
      {% endif %} {% if batch_list.has_next %}
      <a
        class="btn btn-primary"
        href="{{ url_for('blends.HistoryBatch', page=batch_list.next_num, search=search) }}"
        >Next</a
      >
      {% endif %}
    </nav>
  </div>
</div>
{% endblock %}
