{% extends "base.html" %}
{% block title %} Austin Workbench {% endblock title %}
{% block content %}
<h1>Cumberland Additive</h1>
<h2>{{ self.title() }}</h2>
<br>
<div class="container">
  <div class="d-grid gap-2">
    <label class="btn btn-lg btn-outline-primary" for="powder">Powder Management</label>
    <input type="radio" class="btn-check" name="btnradio" id="powder" autocomplete="off" onclick="window.location.href = '/powder/home'">
  </div>
  <div class="d-grid gap-2">
    <label class="btn btn-lg btn-outline-primary" for="builds">Build Tracking</label>
    <input type="radio" class="btn-check" name="btnradio" id="builds" autocomplete="off" onclick="window.location.href = '/builds/home'">
  </div>
</div>
{% endblock content %}