{% extends "base.html" %} {% block title %} Login {% endblock %}
<h1>This is the login page</h1>
{% block content %}
<form method="POST" class="mt-4">
    <h3 class="text-center">Login</h3>
    <div class="container">
        <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input 
            type="email" 
            class="form-control" 
            id="email" 
            name="email" 
            placeholder="Enter Email"/>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input 
            type="password" 
            class="form-control" 
            id="password" 
            name="password" 
            placeholder="Enter Password"/>
        </div>
        <br>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary" id="Loginbutton">Login</button>
        </div> 
    </div>   
</form>
{% endblock %}