{% extends "base.html" %}
{% block title %} Quote {% endblock %}
{% block content %}
<h1 class="text-center">Quote Calculator</h1>

<div class="container mt-5">
    <form method="POST" action="{{ url_for('quote.quote_page') }}" enctype="multipart/form-data">
        <!-- File Upload -->
        <div class="form-group">
            <label for="fileInput">Select STL Files</label>
            <input type="file" class="form-control-file" id="fileInput" name="stl_files" accept=".stl" multiple required>
            <small class="form-text text-muted">Only STL files are allowed.</small>
        </div>

        <!-- Submit Button -->
        <div class="form-group">
            <button type="submit" name="makeQuote" class="btn btn-primary">Make Quote</button>
        </div>
    </form>
    <form method="POST">
        {% if not results.empty %}
        
            <table class="table table-hover">
                <thead>
                    <tr class="table-active">
                        <th scope="col">Part Name</th>
                        <th scope="col">Order Quantity</th>
                        <th scope="col">x Extents</th>
                        <th scope="col">y Extents</th>
                        <th scope="col">z Extents</th>
                        <th scope="col">Volume</th>
                        <th scope="col">Surface Area</th>
                        <th scope="col">Orientation</th>
                        <th scope="col">Material</th>
                        <th scope="col">Build Hours</th>
                        <th scope="col">Unpack Hours</th>
                        <th scope="col">Num Builds</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, row in results.iterrows() %}
                    <tr>

                        <td>{{ row['PartName'] }}</td>
                        <td><input type="number" name="order_qty_input_{{ index }}" value="{{ row['OrderQty'] }}" min="1" required></td>
                        <td>{{ '%.4f'|format(row['xExtents']) }}</td>
                        <td>{{ '%.4f'|format(row['yExtents']) }}</td>
                        <td>{{ '%.4f'|format(row['zExtents']) }}</td>
                        <input type="hidden" name="xExtents_{{ index }}" id="xExtents_{{ index }}" value="{{ row['xExtents'] }}">
                        <input type="hidden" name="yExtents_{{ index }}" id="yExtents_{{ index }}" value="{{ row['yExtents'] }}">
                        <input type="hidden" name="zExtents_{{ index }}" id="zExtents_{{ index }}" value="{{ row['zExtents'] }}">
                        <td>{{ '%.4f'|format(row['Volume']) }}</td>
                        <td name="SurfaceArea_{{index}}">{{ '%.4f'|format(row['SurfaceArea']) }}</td>
                        <td>
                            <select name="orientation_{{ index }}" required>
                                <option value="X" {% if row['Orientation'] == 'X' %}selected{% endif %}>X</option>
                                <option value="Y" {% if row['Orientation'] == 'Y' %}selected{% endif %}>Y</option>
                                <option value="Z" {% if row['Orientation'] == 'Z' %}selected{% endif %}>Z</option>
                            </select>
                        </td>
                        <td>
                            <select name="material_{{ index }}" required>
                                <option value="Aluminum (AlSi10Mg)" {% if row['Material'] == 'Aluminum (AlSi10Mg)' %}selected{% endif %}>Aluminum (AlSi10Mg)</option>
                                <option value="Titanium Ti64" {% if row['Material'] == 'Titanium Ti64' %}selected{% endif %}>Titanium Ti64</option>
                                <option value="Stainless Steel 316L" {% if row['Material'] == 'Stainless Steel 316L' %}selected{% endif %}>Stainless Steel 316L</option>
                                <option value="Stainless Steel 17-4PH" {% if row['Material'] == 'Stainless Steel 17-4PH' %}selected{% endif %}>Stainless Steel 17-4PH</option>
                                <option value="Nickel Alloy 718" {% if row['Material'] == 'Nickel Alloy 718' %}selected{% endif %}>Nickel Alloy 718</option>
                                <option value="Nickel Alloy 625" {% if row['Material'] == 'Nickel Alloy 625' %}selected{% endif %}>Nickel Alloy 625</option>
                                <option value="Cobalt Chrome" {% if row['Material'] == 'Cobalt Chrome' %}selected{% endif %}>Cobalt Chrome</option>
                            </select>
                        </td>
                        <td>
                            <label>{{ '%.2f'|format(row['BuildHours']) }}</label>
                        </td>
                        <td>
                            <label>{{ '%.2f'|format(row['UnpackHours']) }}</label>
                        </td>
                        <td>
                            {{ '%.0f'|format(row['NumBuilds']) }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    <div class="form-group">
        <button type="submit" class="btn btn-primary" name="update_quote">Update Quote</button>
    </div>
</form>
</div>
{% endblock %}