{% extends "base.html" %}
{% block title %} Blend {% endblock %}
{% block content %}
    <h1>Blend System - Search</h1>
    <div class="container-fluid">
        <form id="searchBlendForm" method="POST">
            <div id="search" class="menus">
                <label for="BlendNum">Blend Number</label><br>
                <input type="number" id="BlendNum" name="BlendNum" placeholder="0">
                <button type="submit" class="Search">Search</button> <br>
            </div>
        </form>
        
        <!-- Display the blend results here -->
        <table style="width: 100%; margin-left: 20px;">
            <!-- Table headers -->
            <tr style="font-size: 20px;">
                <th>ID:</th>
                <th>Weight:</th>
                <th>Last ID:</th>
                <th>Last Weight:</th>
                <th>Virgin ID:</th>
            </tr>
            <!-- Loop through the blendNumber results -->
            {% if blendNumber %}
                {% for blend in blendNumber %}
                    <tr>
                        <td>{{ blend.PowderBlendID }}</td>
                        <td>{{ blend.AddedWeight }}</td>
                        <td>{{ blend.OldPowderBlendID }}</td>
                        <td>{{ blend.AddedWeight }}</td>
                        <td>{{ blend.PowderInventoryBatchID }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
{% endblock %}
