{% extends "blend.html" %}
{% block title %}Blend{% endblock %}
{% block content %}
    <h1 class="text-center">Blend System - Search</h1>
    <div class="container">
        <div class="d-flex justify-content-center mt-3">
            <div class="btn-group">
                <input type="radio" class="btn-check" name="btnradio" id="Search" autocomplete="off" checked onclick="window.location.href = '/searchBlends'">
                <label class="btn btn-outline-primary" for="Search">Search</label>

                <input type="radio" class="btn-check" name="btnradio" id="New" autocomplete="off" onclick="window.location.href = '/createBlend'">
                <label class="btn btn-outline-primary" for="New">Create Blend</label>

                <input type="radio" class="btn-check" name="btnradio" id="createBatch" autocomplete="off" onclick="window.location.href = '/createBatch'">
                <label class="btn btn-outline-primary" for="createBatch">Create Batch</label>

                <input type="radio" class="btn-check" name="btnradio" id="Trace" autocomplete="off" onclick="">
                <label class="btn btn-outline-primary" for="Trace">Trace Blend</label>

                <input type="radio" class="btn-check" name="btnradio" id="History" autocomplete="off" onclick="window.location.href = '/BlendHistory'">
                <label class="btn btn-outline-primary" for="History">History</label>

                <input type="radio" class="btn-check" name="btnradio" id="Report" autocomplete="off" onclick="">
                <label class="btn btn-outline-primary" for="Report">Report</label>
                
                <input type="radio" class="btn-check" name="btnradio" id="Inventory" autocomplete="off" onclick="">
                <label class="btn btn-outline-primary" for="Inventory">Inventory</label>
            </div>
        </div>

        <form id="searchBlendForm" method="POST" class="mt-4">
            <div id="search" class="menus">
                <div class="mb-3">
                    <label for="BlendNum" class="form-label">Blend Number</label>
                    <input type="number" id="BlendNum" name="BlendNum" class="form-control" placeholder="0">
                </div>
                <div class="d-grid">
                    <button type="submit" name="search" class="btn btn-primary">Search</button><br>
                    {% if blends %}
                    <div class="d-grid">
                        <div class="form-group">
                        <label for="printer" class="form-label mt-4" >Select Printer</label>
                        <select name="printer" class="form-select" id="printer" style="text-align: center;">
                            <option>Shop printer</option>
                            <option>Programmers printer</option>
                        </select>
                    </div>
                    <div class="d-grid">
                        <input type="number" id="qty" name="qty" class="form-control" placeholder="1">
                        <button type="submit" name="Print" class="btn btn-primary">Print</button>
                        <button type="submit" name="Report" class="btn btn-primary">Report</button>
                    {% endif %}
                </div>
            </div>
        </form>
        
        <!-- Display the blend results here -->
        <div class="table-responsive mt-4">
            <table class="table table-hover">
                <!-- Table headers -->
                <thead>
                    <tr style="font-size: 20px;">
                        <th scope="col">ID</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Material</th>
                        <th scope="col">Date Created</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Loop through the blends results -->
                    {% if blends %}
                        {% for blend, material_name in blends %}
                            <tr class="table-active">
                                <td name="blendID" id="blendID">{{ blend.BlendID }}</td>
                                <td>{{ blend.TotalWeight }}</td>
                                <td>{{ material_name }}</td>
                                <td>{{ blend.BlendDate }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        
    </div>
{% endblock %}
