<!DOCTYPE html>
<html>

<head>
  <style>
    /* Add your custom styles here */
    table {
      border-collapse: collapse;
      width: 100%;
      font-family: verdana;
      font-size: 12px;
    }

    th,
    td {
      border: 1px solid black;
      padding: 8px;
    }

    .input-box {
      width: 175px;
      /* Adjust the width of the input boxes as needed */
    }
  </style>
</head>

<body>
  <h1>Traveler Report</h1>

  <!-- Build Start section -->
  <table>
    <tr>
      <th colspan="2">Machine:</th>
      <td><input type="text" name="machine" class="input-box"></td>
      <th colspan="2">Build Height (mm):</th>
      <td><input type="text" name="build_height" class="input-box"></td>
    </tr>
    <tr>
      <th colspan="2">Material:</th>
      <td><input type="text" name="material" class="input-box"></td>
      <th colspan="2">Min Charge Amount (%):</th>
      <td><input type="text" name="min_charge" class="input-box"></td>
    </tr>
    <tr>
      <th colspan="2">X Scale (%):</th>
      <td><input type="text" name="x_scale" class="input-box"></td>
      <th colspan="2">Max Charge Amount (%):</th>
      <td><input type="text" name="max_charge" class="input-box"></td>
    </tr>
    <tr>
      <th colspan="2">Y Scale (%):</th>
      <td><input type="text" name="y_scale" class="input-box"></td>
      <th colspan="2">Dosing Boost Amount (%):</th>
      <td><input type="text" name="dosing_boost" class="input-box"></td>
    </tr>
    <tr>
      <th colspan="2">Beam Offset (mm):</th>
      <td><input type="text" name="beam_offset" class="input-box"></td>
      <th colspan="2">Recoater Speed (mm/s):</th>
      <td><input type="text" name="recoater_speed" class="input-box"></td>
    </tr>
    <tr>
      <th colspan="2">Layer Thickness (mm):</th>
      <td><input type="text" name="layer_thickness" class="input-box"></td>
      <th colspan="2">Gas Flow:</th>
      <td><input type="text" name="gas_flow" class="input-box"></td>
    </tr>
    <tr>
      <th colspan="2">Platform Temp. (°C):</th>
      <td><input type="text" name="platform_temp" class="input-box"></td>
      <th colspan="2">Parameter Rev:</th>
      <td><input type="text" name="parameter_rev" class="input-box"></td>
    </tr>
  </table>

  <!-- Other sections and signature areas go here -->

</body>

</html>