{% extends "scheduler/base_scheduler.html" %}
{% block title %} Scheduler Tool {% endblock title %}
{% block content %}
<div class="container">
<H1>Builds in Que</H1>
<div class="container">
    <table class = "table table-hover">
        <thead>
          <tr class="table-active">
            <th class="text-center">BuildID</th>
            <th class="text-center">Machine</th>
            <th class="text-center">Material</th>
            <th class="text-center">Build Time (Hr)</th>
            <th class="text-center">Start Time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for item in builds %}
              <tr class="text-center">
                <td  id="buildId" name="buildId" value = {{item['BuildID']}}>{{item['BuildID']}}</td>
                <td><select class="form-select text-center" id="machineIdInput" name="machineIdInput" onchange="updateDatabase(this.value, 'machineIdInput')">
                  <option value="" disabled selected>Select Machine</option>
                  {% for machine in machines %}
                    {% if item['MachineID']  == machine %}
                          <option value="{{ machine }}" selected>{{ machine }}</option>
                        {% else %}
                          <option value="{{ machine }}">{{ machine }}</option>
                    {% endif %}
                  {% endfor %}
                </select></td>
                <td><select class="form-select text-center" id="AlloyNameInput" name="AlloyNameInput" onchange="updateDatabase(this.value, 'AlloyNameInput')">
                    <option value="" disabled>Select Material</option>
                    {% for material in materials %}
                      {% if item['AlloyName']  == material %}
                        <option value="{{ material }}" selected>{{ material }}</option>
                      {% else %}
                        <option value="{{ material }}">{{ material }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </td>
                <td><input class="form-control text-center" id="buildTime" name="buildTime" placeholder = '8' type="number" step = '0.01' onchange="updateDatabase(this.value, 'buildTime')">{{item['buildTime']}}</td>
                <td><input type='datetime-local' class="form-control text-center" id="startTime" name="startTime" placeholder={{item['BuildStartTime']}}  onchange="updateDatabase(this.value, 'startTime')" value="{{item['BuildStartTime']}}"></td> 
            </tr>
            {% endfor %}
          <!-- Add more rows here -->
        </tbody>
      </table>    
</div>

{% endblock content %}